  <form class="form-group" method="post" action="/shortly/create">
          {%csrf_token%}
          <input type="url" name="url">
          <button class="btn btn-primary" type="submit">Add url</button>
  </form>