{% extends "shortly_app/layout.html" %}
{% block content %}
<div class="card">
      <div class="card-header btn-group" role="group" aria-label="Basic example">
          <a type="button" class="btn btn-info" href="/shortly"><h3>All shorted urls</h3></a>
          <a type="button" class="btn btn-info" href="/shortly/top"><h3>Top 10 urls</h3></a>
      </div>
      <div class="card-body">
          {% include "shortly_app/add_url.html" %}
          {% include "shortly_app/url_list.html" %}
      </div>
  </div>
{% endblock %}