<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shortly</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous">
</head>
<body>
    {% if messages %}
        <ul class="messages alert alert-warning">
        {% for message in messages %}
          <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        </ul>
        {% endif %}
    {% block content %}{% endblock %}
</body>
</html>