<ul  class="list-group">
{% for url in urls %}
    <a  class="list-group-item  list-group-item-light list-group-item-action" href="/shortly/{{url.shorted_url}}">
        Shorted address:
        <u><b>{{ url.shorted_url }}</b></u>
        visits:
        <b>{{url.visit_counter}}</b>
    </a>
{% endfor %}
</ul>
